<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add answer</title>
</head>
<body>
<div>
    <p>Add answer for "{{questionName}}"</p>
    <form method="post">
        <div>
            <input type="text" placeholder="Your answer" id="answer" name="answer">
        </div>
        <div>
            <input type="submit" value="Add answer">
        </div>
    </form>
</div>
</body>