<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{groupName}}</title>
</head>
<body>
    <p>{{groupName}}</p>
    <div>
        Group creator:
        <a href="{{userRef}}">{{userName}}</a>
    </div>
    <div>
        <a href="{{parentGroupRef}}">Parent group</a>
    </div>
    <div>
        <a href="{{groupRef}}/edit">Edit</a>
        <a href="{{groupRef}}">Delete</a>
    </div>

</body>