<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CTS-Question-Groups</title>
</head>

<body>
<div>
    <p>question groups:</p>
    <div>
        {{>hierarchy_list}}
    </div>
    <a href="/profile/question-groups/create">Create New Question Group</a>
</div>
</body>