<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CTS-Profile</title>
</head>

<body>
    <div>
        <p>Hello, {{name}}</p>
        <a href="/profile/question-groups">Question Groups</a>
        <a href="/profile/tests">Tests</a>
        <a href="/profile/questions">Questions</a>
        <a href="/profile/preferences">Preferences</a>
        <a href="/user-groups">User Groups</a>
        <a href="/courses">Courses</a>
        <a href="/signout">Sign Out</a>
    </div>
</body>