<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Question Page</title>
</head>
<body>
    <div>
        <p>{{questionName}}</p>
    </div>
    <div>
        Group:
        <a href="{{groupRef}}">{{groupName}}</a>
    </div>
    <div>
        Answers:
        {{#answers}}
            <div>
                {{answer}} by {{answerAuthor}}
            </div>
        {{/answers}}
    </div>
    <div>
        <a href="/profile/answers/add/{{questionId}}">Add answer</a>
    </div>
</body>