<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<p>Question list:</p>
{{#names}}
    <div>
        <a href="/profile/questions/{{id}}">{{name}}</a>
    </div>
{{/names}}
</body>